In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("‚úÖ –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∑–∞–≥—Ä—É–∂–µ–Ω—ã")

‚úÖ –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∑–∞–≥—Ä—É–∂–µ–Ω—ã

In [2]:
# ========================================
# –î–ê–¢–ê–°–ï–¢ 1: –ö–ª–∏–µ–Ω—Ç—ã (Customers)
# ========================================

customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank', 'Grace', 'Henry'],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 
             'New York', 'Chicago', 'Los Angeles'],
    'age': [28, 35, 42, 29, 38, 45, 31, 52],
    'join_date': pd.to_datetime(['2023-01-15', '2023-02-20', '2023-01-10', 
                                  '2023-03-05', '2023-02-18', '2023-04-01',
                                  '2023-01-25', '2023-03-12'])
})

print("üìã CUSTOMERS:")
print(customers)
print()

# ========================================
# –î–ê–¢–ê–°–ï–¢ 2: –ó–∞–∫–∞–∑—ã (Orders)
# ========================================

orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'customer_id': [1, 2, 1, 3, 2, 4, 5, 1, 6, 7],  # –°–≤—è–∑—å —Å customers!
    'product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Monitor', 
                'Keyboard', 'Mouse', 'Headphones', 'Laptop', 'Phone'],
    'amount': [1200, 800, 500, 1200, 300, 100, 50, 150, 1200, 800],
    'order_date': pd.to_datetime(['2023-02-01', '2023-03-15', '2023-02-20',
                                   '2023-04-10', '2023-03-25', '2023-05-05',
                                   '2023-04-15', '2023-05-20', '2023-06-01',
                                   '2023-05-10'])
})

print("üì¶ ORDERS:")
print(orders)

üìã CUSTOMERS:
   customer_id     name         city  age  join_date
0            1    Alice     New York   28 2023-01-15
1            2      Bob  Los Angeles   35 2023-02-20
2            3  Charlie      Chicago   42 2023-01-10
3            4    Diana      Houston   29 2023-03-05
4            5      Eve      Phoenix   38 2023-02-18
5            6    Frank     New York   45 2023-04-01
6            7    Grace      Chicago   31 2023-01-25
7            8    Henry  Los Angeles   52 2023-03-12

üì¶ ORDERS:
   order_id  customer_id     product  amount order_date
0       101            1      Laptop    1200 2023-02-01
1       102            2       Phone     800 2023-03-15
2       103            1      Tablet     500 2023-02-20
3       104            3      Laptop    1200 2023-04-10
4       105            2     Monitor     300 2023-03-25
5       106            4    Keyboard     100 2023-05-05
6       107            5       Mouse      50 2023-04-15
7       108            1  Headphones     150 2023-05-20
8       109            6      Laptop    1200 2023-06-01
9       110            7       Phone     800 2023-05-10

In [3]:
merged = customers.merge(orders, on ='customer_id', how = 'inner')
print('INNER JOIN (–∫–ª–∏–µ–Ω—Ç—ã  –∏ –∏—Ö –∑–∞–∫–∞–∑—ã):')
print(merged)
print(f'–í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫: {len(merged)}')

INNER JOIN (–∫–ª–∏–µ–Ω—Ç—ã  –∏ –∏—Ö –∑–∞–∫–∞–∑—ã):
   customer_id     name         city  age  join_date  order_id     product  \
0            1    Alice     New York   28 2023-01-15       101      Laptop
1            1    Alice     New York   28 2023-01-15       103      Tablet
2            1    Alice     New York   28 2023-01-15       108  Headphones
3            2      Bob  Los Angeles   35 2023-02-20       102       Phone
4            2      Bob  Los Angeles   35 2023-02-20       105     Monitor
5            3  Charlie      Chicago   42 2023-01-10       104      Laptop
6            4    Diana      Houston   29 2023-03-05       106    Keyboard
7            5      Eve      Phoenix   38 2023-02-18       107       Mouse
8            6    Frank     New York   45 2023-04-01       109      Laptop
9            7    Grace      Chicago   31 2023-01-25       110       Phone

   amount order_date
0    1200 2023-02-01
1     500 2023-02-20
2     150 2023-05-20
3     800 2023-03-15
4     300 2023-03-25
5    1200 2023-04-10
6     100 2023-05-05
7      50 2023-04-15
8    1200 2023-06-01
9     800 2023-05-10
–í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫: 10

In [8]:
merged_left = customers.merge(orders, on = 'customer_id', how='left')
print("üîó LEFT JOIN (–≤—Å–µ –∫–ª–∏–µ–Ω—Ç—ã, –¥–∞–∂–µ –±–µ–∑ –∑–∞–∫–∞–∑–æ–≤):")
print(merged_left)
print(f"\n–í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫: {len(merged_left)}")

print("\nüîç –ü—Ä–æ–≤–µ—Ä–∫–∞: –µ—Å—Ç—å –ª–∏ Henry?")
henry = merged_left[merged_left['name'] == 'Henry']
print(henry)

üîó LEFT JOIN (–≤—Å–µ –∫–ª–∏–µ–Ω—Ç—ã, –¥–∞–∂–µ –±–µ–∑ –∑–∞–∫–∞–∑–æ–≤):
    customer_id     name         city  age  join_date  order_id     product  \
0             1    Alice     New York   28 2023-01-15     101.0      Laptop
1             1    Alice     New York   28 2023-01-15     103.0      Tablet
2             1    Alice     New York   28 2023-01-15     108.0  Headphones
3             2      Bob  Los Angeles   35 2023-02-20     102.0       Phone
4             2      Bob  Los Angeles   35 2023-02-20     105.0     Monitor
5             3  Charlie      Chicago   42 2023-01-10     104.0      Laptop
6             4    Diana      Houston   29 2023-03-05     106.0    Keyboard
7             5      Eve      Phoenix   38 2023-02-18     107.0       Mouse
8             6    Frank     New York   45 2023-04-01     109.0      Laptop
9             7    Grace      Chicago   31 2023-01-25     110.0       Phone
10            8    Henry  Los Angeles   52 2023-03-12       NaN         NaN

    amount order_date
0   1200.0 2023-02-01
1    500.0 2023-02-20
2    150.0 2023-05-20
3    800.0 2023-03-15
4    300.0 2023-03-25
5   1200.0 2023-04-10
6    100.0 2023-05-05
7     50.0 2023-04-15
8   1200.0 2023-06-01
9    800.0 2023-05-10
10     NaN        NaT

–í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫: 11

üîç –ü—Ä–æ–≤–µ—Ä–∫–∞: –µ—Å—Ç—å –ª–∏ Henry?
    customer_id   name         city  age  join_date  order_id product  amount  \
10            8  Henry  Los Angeles   52 2023-03-12       NaN     NaN     NaN

   order_date
10        NaT

In [7]:
pd.set_option('display.max_rows', None)

In [13]:
merged_left = customers.merge(orders, on = 'customer_id', how='left')
print("üîó LEFT JOIN (–≤—Å–µ –∫–ª–∏–µ–Ω—Ç—ã, –¥–∞–∂–µ –±–µ–∑ –∑–∞–∫–∞–∑–æ–≤):")
print(merged_left)
print(f"\n–í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫: {len(merged_left)}")

print("\nüîç –ü—Ä–æ–≤–µ—Ä–∫–∞: –µ—Å—Ç—å –ª–∏ Henry?")
henry = merged_left[merged_left['name'] == 'Henry']
print(henry)

üîó LEFT JOIN (–≤—Å–µ –∫–ª–∏–µ–Ω—Ç—ã, –¥–∞–∂–µ –±–µ–∑ –∑–∞–∫–∞–∑–æ–≤):
    customer_id     name         city  age  join_date  order_id     product  \
0             1    Alice     New York   28 2023-01-15     101.0      Laptop
1             1    Alice     New York   28 2023-01-15     103.0      Tablet
2             1    Alice     New York   28 2023-01-15     108.0  Headphones
3             2      Bob  Los Angeles   35 2023-02-20     102.0       Phone
4             2      Bob  Los Angeles   35 2023-02-20     105.0     Monitor
5             3  Charlie      Chicago   42 2023-01-10     104.0      Laptop
6             4    Diana      Houston   29 2023-03-05     106.0    Keyboard
7             5      Eve      Phoenix   38 2023-02-18     107.0       Mouse
8             6    Frank     New York   45 2023-04-01     109.0      Laptop
9             7    Grace      Chicago   31 2023-01-25     110.0       Phone
10            8    Henry  Los Angeles   52 2023-03-12       NaN         NaN

    amount order_date
0   1200.0 2023-02-01
1    500.0 2023-02-20
2    150.0 2023-05-20
3    800.0 2023-03-15
4    300.0 2023-03-25
5   1200.0 2023-04-10
6    100.0 2023-05-05
7     50.0 2023-04-15
8   1200.0 2023-06-01
9    800.0 2023-05-10
10     NaN        NaT

–í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫: 11

üîç –ü—Ä–æ–≤–µ—Ä–∫–∞: –µ—Å—Ç—å –ª–∏ Henry?
    customer_id   name         city  age  join_date  order_id product  amount  \
10            8  Henry  Los Angeles   52 2023-03-12       NaN     NaN     NaN

   order_date
10        NaT

In [15]:
customers_orders = customers.merge(orders, on = 'customer_id', how = 'left')

total_spent = customers_orders.groupby('name')['amount'].sum()

print("üí∞ –°–∫–æ–ª—å–∫–æ –∫–∞–∂–¥—ã–π –∫–ª–∏–µ–Ω—Ç –ø–æ—Ç—Ä–∞—Ç–∏–ª:")
print(total_spent.sort_values(ascending=False))

üí∞ –°–∫–æ–ª—å–∫–æ –∫–∞–∂–¥—ã–π –∫–ª–∏–µ–Ω—Ç –ø–æ—Ç—Ä–∞—Ç–∏–ª:
name
Alice      1850.0
Charlie    1200.0
Frank      1200.0
Bob        1100.0
Grace       800.0
Diana       100.0
Eve          50.0
Henry         0.0
Name: amount, dtype: float64

In [16]:
print("\nüèÜ –¢–û–ü-3 –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Ç—Ä–∞—Ç–∞–º:")
print(total_spent.nlargest(3))

üèÜ –¢–û–ü-3 –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Ç—Ä–∞—Ç–∞–º:
name
Alice      1850.0
Charlie    1200.0
Frank      1200.0
Name: amount, dtype: float64

In [17]:
pivot = customers_orders.pivot_table(
    values = 'amount',
    index = 'city',
    columns = 'product',
    aggfunc = 'sum',
    fill_value = 0
)

print("üìä –°–í–û–î–ù–ê–Ø –¢–ê–ë–õ–ò–¶–ê: –ü—Ä–æ–¥–∞–∂–∏ –ø–æ –≥–æ—Ä–æ–¥–∞–º –∏ –ø—Ä–æ–¥—É–∫—Ç–∞–º")
print(pivot)

üìä –°–í–û–î–ù–ê–Ø –¢–ê–ë–õ–ò–¶–ê: –ü—Ä–æ–¥–∞–∂–∏ –ø–æ –≥–æ—Ä–æ–¥–∞–º –∏ –ø—Ä–æ–¥—É–∫—Ç–∞–º
product      Headphones  Keyboard  Laptop  Monitor  Mouse  Phone  Tablet
city
Chicago             0.0       0.0  1200.0      0.0    0.0  800.0     0.0
Houston             0.0     100.0     0.0      0.0    0.0    0.0     0.0
Los Angeles         0.0       0.0     0.0    300.0    0.0  800.0     0.0
New York          150.0       0.0  2400.0      0.0    0.0    0.0   500.0
Phoenix             0.0       0.0     0.0      0.0   50.0    0.0     0.0

In [18]:
print("\nüíª Laptop: –ø—Ä–æ–¥–∞–∂–∏ –ø–æ –≥–æ—Ä–æ–¥–∞–º")
print(pivot['Laptop'].sort_values(ascending=False))

üíª Laptop: –ø—Ä–æ–¥–∞–∂–∏ –ø–æ –≥–æ—Ä–æ–¥–∞–º
city
New York       2400.0
Chicago        1200.0
Houston           0.0
Los Angeles       0.0
Phoenix           0.0
Name: Laptop, dtype: float64

# –ó–∞–¥–∞—á–∞ 1: –ù–∞–π–¥–∏ —Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –≥–æ—Ä–æ–¥–∞–º
# –ü–æ–¥—Å–∫–∞–∑–∫–∞: .groupby('city')['age'].mean()

# –ó–∞–¥–∞—á–∞ 2: –°–æ–∑–¥–∞–π pivot table: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤ (–Ω–µ —Å—É–º–º–∞!) –ø–æ –≥–æ—Ä–æ–¥–∞–º √ó –ø—Ä–æ–¥—É–∫—Ç–∞–º
# –ü–æ–¥—Å–∫–∞–∑–∫–∞: aggfunc='count'

# –ó–∞–¥–∞—á–∞ 3: –ù–∞–π–¥–∏ –∫–ª–∏–µ–Ω—Ç–∞ —Å —Å–∞–º—ã–º –ø–æ–∑–¥–Ω–∏–º –ø–µ—Ä–≤—ã–º –∑–∞–∫–∞–∑–æ–º
# –ü–æ–¥—Å–∫–∞–∑–∫–∞: .merge() + .groupby() + .min() + .sort_values()